
{
    "openapi":"3.0.0",
    "info":{
        "title":"Ibis4Titan",
        "description":"OpenApi auto-generated at 2022-09-09 11:19:52 for Ibis4Titan (TST)",
        "version":"unknown"
    },
    "servers":[
        {
            "url":"https://srtzzapp0494.insim.biz/ibis4titan/api"
        }
    ],
    "paths":{
        "/archiving/attachments/{documentId}":{
            "get":{
                "summary":"REST adapter for getting a document in the NN archive with the internal- or external document id and stream back the document",
                "parameters":[
                    {
                        "name":"documentId",
                        "in":"path",
                        "required":true,
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"idType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/archiving/documents":{
            "get":{
                "summary":"REST adapter for finding a document in the NN Archive and retrieving the metadata and link to the attachment.",
                "parameters":[
                    {
                        "name":"schemaName",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"requestUserId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"includeMedicalDocuments",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"maxItems",
                        "in":"query",
                        "schema":{
                            "type":"integer"
                        }
                    },
                    {
                        "name":"skipCount",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"sortAttribute",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"sortOrder",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"agreementNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"agreementNumberType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"authorizedTo",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"birthDate",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"businessUnit",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"claimNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"contractNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"contractNumberHolding",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"descriptionProductGroup",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentDetail",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentRelationId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentRouting",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentTitle",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"externalDocumentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"IBAN",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"label",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"language",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"nameHolding",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"nameInsured",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"nameOrganisation",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"namePolicyHolder",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"organisationId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"partnerGold",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"partnerIntermediary",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"partnerSilver",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"processId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"productCode",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"quotationNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"referenceDate",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"requestNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"requiredByLawId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"subject",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"VTA_ID",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"year",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"archiveDateBegin",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"archiveDateEnd",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"issuedDateBegin",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"issuedDateEnd",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"referenceDateBegin",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"referenceDateEnd",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"schemeNumber",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/FindDocuments_Response"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified"
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/FindDocuments_Error"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/FindDocuments_Error"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/FindDocuments_Error"
                                }
                            }
                        }
                    }
                }
            },
            "post":{
                "summary":"REST adapter for uploading a document with metadata in the NN Archive.",
                "requestBody":{
                    "content":{
                        "multipart/*":{
                            "schema":{
                                "$ref":"#/components/schemas/ArchiveDocument_Action"
                            }
                        }
                    }
                },
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/ArchiveDocument_Response"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified"
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/ArchiveDocument_Error"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/ArchiveDocument_Error"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/ArchiveDocument_Error"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/ArchiveDocument_Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/archiving/documents/{documentId}":{
            "get":{
                "summary":"Get document metadata from a document in the NN archive with the internal- or external document id.",
                "parameters":[
                    {
                        "name":"documentId",
                        "in":"path",
                        "required":true,
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"idType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocumentAttributes_Request"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified"
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocumentAttributes_Request"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocumentAttributes_Request"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocumentAttributes_Request"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocumentAttributes_Request"
                                }
                            }
                        }
                    }
                }
            },
            "patch":{
                "summary":"REST adapter for updating document metadata in the NN Archive.",
                "requestBody":{
                    "content":{
                        "*/*":{
                            "schema":{
                                "$ref":"#/components/schemas/UpdateDocument_Action"
                            }
                        }
                    }
                },
                "parameters":[
                    {
                        "name":"documentId",
                        "in":"path",
                        "required":true,
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"idType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/UpdateDocument_Response"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified"
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/UpdateDocument_Error"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/UpdateDocument_Error"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/UpdateDocument_Error"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "application/json":{
                                "schema":{
                                    "$ref":"#/components/schemas/UpdateDocument_Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/archiving/mimetype":{
            "post":{
                "summary":"Detect the mime type of an uploaded file.",
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                        }
                    }
                }
            }
        },
        "/archiving/stagedocuments":{
            "post":{
                "summary":"REST adapter for retrieving a link to a document in Titan with the internal- or external document id. ",
                "requestBody":{
                    "content":{
                        "*/*":{
                            "schema":{
                                "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                            }
                        }
                    }
                },
                "parameters":[
                    {
                        "name":"documentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"idType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"requestUserId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"sourceTransactionId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified"
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/StageDocumentForCollection_Action"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/archiving/stagedocuments/{referenceId}":{
            "get":{
                "summary":"REST adapter for getting a document in TITAN with the referenceId.",
                "parameters":[
                    {
                        "name":"referenceId",
                        "in":"path",
                        "required":true,
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"requestUserId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"referenceId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/RetrieveStagedDocument_Request"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components":{
        "schemas":{
            "GetDocument_Request":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "documentId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    },
                    "idType":{
                        "type":"string",
                        "enum":[
                            "internalId",
                            "externalId"
                        ]
                    }
                },
                "required":[
                    "documentId"
                ]
            },
            "GetDocument_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "link":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "href":{
                        "type":"string"
                    },
                    "rel":{
                        "type":"string"
                    },
                    "type":{
                        "type":"string"
                    },
                    "title":{
                        "type":"string"
                    }
                },
                "required":[
                    "href",
                    "rel",
                    "type"
                ]
            },
            "error":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "type":{
                        "type":"string"
                    },
                    "title":{
                        "type":"string"
                    },
                    "status":{
                        "type":"string"
                    },
                    "detail":{
                        "type":"string"
                    },
                    "instance":{
                        "type":"string"
                    }
                },
                "required":[
                    "type",
                    "title",
                    "status",
                    "instance"
                ]
            },
            "links":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/link"
                }
            },
            "errors":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/error"
                }
            },
            "FindDocuments_Request":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "schemaName":{
                        "type":"string",
                        "maxLength":40,
                        "minLength":1
                    },
                    "requestUserId":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "includeMedicalDocuments":{
                        "type":"boolean"
                    },
                    "CMISSearch":{
                        "type":"string"
                    },
                    "Paging":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "maxItems":{
                                "type":"integer",
                                "maximum":100,
                                "minimum":1
                            },
                            "skipCount":{
                                "type":"integer"
                            },
                            "sortAttribute":{
                                "type":"string",
                                "enum":[
                                    "addressedTo",
                                    "agreementNumber",
                                    "agreementNumberType",
                                    "issuedDate",
                                    "issuer",
                                    "birthDate",
                                    "claimNumber",
                                    "contractNumber",
                                    "quotationNumber",
                                    "originalArchiveDate",
                                    "originalCreator",
                                    "descriptionProductGroup",
                                    "documentDetail",
                                    "documentRouting",
                                    "documentTitle",
                                    "documentType",
                                    "fileName",
                                    "fileSize",
                                    "IBAN",
                                    "organisationId",
                                    "label",
                                    "language",
                                    "nameInsured",
                                    "namePolicyHolder",
                                    "nameOrganisation",
                                    "partnerGold",
                                    "partnerSilver",
                                    "processID",
                                    "productCode",
                                    "referenceDate",
                                    "requestNumber",
                                    "requiredbylawId",
                                    "schemeNumber",
                                    "source",
                                    "subject",
                                    "year",
                                    "businessUnit"
                                ]
                            },
                            "sortOrder":{
                                "type":"string",
                                "enum":[
                                    "Asc",
                                    "Desc"
                                ]
                            }
                        }
                    },
                    "SearchRanges":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "archiveDateBegin":{
                                "type":"string",
                                "format":"date"
                            },
                            "archiveDateEnd":{
                                "type":"string",
                                "format":"date"
                            },
                            "issuedDateBegin":{
                                "type":"string",
                                "format":"date"
                            },
                            "issuedDateEnd":{
                                "type":"string",
                                "format":"date"
                            },
                            "referenceDateBegin":{
                                "type":"string",
                                "format":"date"
                            },
                            "referenceDateEnd":{
                                "type":"string",
                                "format":"date"
                            }
                        }
                    },
                    "SearchAttributes":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "addressedTo":{
                                "type":"string",
                                "maxLength":40
                            },
                            "agreementNumber":{
                                "type":"array",
                                "items":{
                                    "type":"string",
                                    "maxLength":20
                                }
                            },
                            "agreementNumberType":{
                                "$ref":"#/components/schemas/agreementNumberType"
                            },
                            "authorizedTo":{
                                "type":"string",
                                "maxLength":10
                            },
                            "birthDate":{
                                "type":"string",
                                "format":"date"
                            },
                            "BSN":{
                                "type":"string",
                                "maxLength":60
                            },
                            "businessUnit":{
                                "type":"string",
                                "maxLength":40
                            },
                            "claimNumber":{
                                "type":"string",
                                "maxLength":20
                            },
                            "contractNumber":{
                                "type":"string",
                                "maxLength":20
                            },
                            "contractNumberHolding":{
                                "type":"string",
                                "maxLength":20
                            },
                            "descriptionProductGroup":{
                                "type":"string",
                                "maxLength":40
                            },
                            "documentDetail":{
                                "type":"string",
                                "maxLength":40
                            },
                            "documentRelationId":{
                                "type":"string",
                                "maxLength":40
                            },
                            "documentRouting":{
                                "type":"string",
                                "enum":[
                                    "In",
                                    "Out",
                                    "Internal"
                                ]
                            },
                            "documentTitle":{
                                "type":"string",
                                "maxLength":512
                            },
                            "documentType":{
                                "type":"string",
                                "maxLength":50
                            },
                            "externalDocumentId":{
                                "type":"string",
                                "maxLength":255,
                                "minLength":1
                            },
                            "IBAN":{
                                "type":"string",
                                "maxLength":34
                            },
                            "label":{
                                "type":"string",
                                "maxLength":20,
                                "minLength":1,
                                "enum":[
                                    "NN"
                                ]
                            },
                            "language":{
                                "type":"string",
                                "maxLength":20,
                                "minLength":0,
                                "enum":[
                                    "",
                                    "Nederlands",
                                    "Engels",
                                    "Duits",
                                    "Frans"
                                ]
                            },
                            "nameHolding":{
                                "type":"string",
                                "maxLength":120
                            },
                            "nameInsured":{
                                "type":"string",
                                "maxLength":120
                            },
                            "nameOrganisation":{
                                "type":"string",
                                "maxLength":120
                            },
                            "namePolicyHolder":{
                                "type":"string",
                                "maxLength":120
                            },
                            "organisationId":{
                                "type":"string",
                                "maxLength":60
                            },
                            "partnerGold":{
                                "type":"array",
                                "items":{
                                    "type":"string",
                                    "maxLength":10
                                }
                            },
                            "partnerIntermediary":{
                                "type":"string",
                                "maxLength":10
                            },
                            "partnerSilver":{
                                "type":"string",
                                "maxLength":10
                            },
                            "processId":{
                                "type":"string",
                                "maxLength":40
                            },
                            "productCode":{
                                "type":"string",
                                "maxLength":5
                            },
                            "quotationNumber":{
                                "type":"string",
                                "maxLength":20
                            },
                            "referenceDate":{
                                "type":"string",
                                "format":"date"
                            },
                            "requestNumber":{
                                "type":"string",
                                "maxLength":255
                            },
                            "requiredByLawId":{
                                "type":"string",
                                "maxLength":40
                            },
                            "schemeNumber":{
                                "type":"string",
                                "maxLength":20
                            },
                            "subject":{
                                "type":"string",
                                "maxLength":255
                            },
                            "VTA_ID":{
                                "type":"string",
                                "maxLength":5
                            },
                            "year":{
                                "type":"string",
                                "maxLength":4
                            }
                        }
                    }
                },
                "required":[
                    "requestUserId"
                ]
            },
            "FindDocuments_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "FindDocuments_Response":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "Paging":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "foundItemCount":{
                                "type":"integer"
                            },
                            "hasMoreItems":{
                                "type":"boolean"
                            }
                        }
                    },
                    "SearchResult":{
                        "type":"array",
                        "items":{
                            "type":"object",
                            "additionalProperties":false,
                            "properties":{
                                "schemaName":{
                                    "type":"string"
                                },
                                "internalDocumentId":{
                                    "type":"string"
                                },
                                "externalDocumentId":{
                                    "type":"string"
                                },
                                "documentTitle":{
                                    "type":"string"
                                },
                                "language":{
                                    "type":"string"
                                },
                                "fileName":{
                                },
                                "addressedTo":{
                                },
                                "annotation":{
                                },
                                "agreementNumber":{
                                },
                                "agreementNumberType":{
                                },
                                "archiveDate":{
                                    "type":"string",
                                    "format":"date-time"
                                },
                                "authorizedTo":{
                                },
                                "batchCode":{
                                },
                                "birthDate":{
                                    "type":"string",
                                    "format":"date"
                                },
                                "BSN":{
                                },
                                "businessUnit":{
                                },
                                "claimNumber":{
                                },
                                "contractNumber":{
                                },
                                "contractNumberHolding":{
                                },
                                "descriptionProductGroup":{
                                },
                                "documentDetail":{
                                },
                                "documentRelationId":{
                                },
                                "documentRouting":{
                                },
                                "documentType":{
                                },
                                "IBAN":{
                                },
                                "idDocOriginal":{
                                },
                                "issuedDate":{
                                    "type":"string",
                                    "format":"date"
                                },
                                "issuer":{
                                },
                                "label":{
                                },
                                "lastModifiedBy":{
                                },
                                "lastModifiedDate":{
                                    "type":"string",
                                    "format":"date-time"
                                },
                                "nameHolding":{
                                },
                                "nameInsured":{
                                },
                                "nameOrganisation":{
                                },
                                "namePolicyHolder":{
                                },
                                "organisationId":{
                                },
                                "partnerGold":{
                                },
                                "partnerIntermediary":{
                                },
                                "partnerSilver":{
                                },
                                "processId":{
                                    "type":"string"
                                },
                                "productCode":{
                                },
                                "quotationNumber":{
                                },
                                "referenceDate":{
                                    "type":"string",
                                    "format":"date"
                                },
                                "remarkText":{
                                },
                                "requestNumber":{
                                },
                                "requiredByLawId":{
                                },
                                "schemeNumber":{
                                },
                                "source":{
                                },
                                "sourceTransactionId":{
                                },
                                "securityClass":{
                                },
                                "subject":{
                                },
                                "VTA_ID":{
                                },
                                "year":{
                                },
                                "links":{
                                    "$ref":"#/components/schemas/links"
                                }
                            },
                            "required":[
                                "schemaName",
                                "internalDocumentId"
                            ]
                        }
                    }
                }
            },
            "agreementNumberType":{
                "type":"string",
                "enum":[
                    "Polis",
                    "Lening",
                    "Rekening",
                    "Advies",
                    "Factuur",
                    "Productbezit"
                ]
            },
            "ArchiveDocument_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "ArchiveDocument_Response":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "internalDocumentId":{
                    }
                }
            },
            "ArchiveDocument_Action":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "requestUserId":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "schemaName":{
                        "type":"string",
                        "maxLength":40,
                        "minLength":1
                    },
                    "source":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "sourceTransactionId":{
                        "type":"string",
                        "maxLength":40,
                        "minLength":1
                    },
                    "Document":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "authorizedTo":{
                                "type":"string",
                                "maxLength":10
                            },
                            "issuedDate":{
                                "type":"string",
                                "format":"date"
                            },
                            "issuer":{
                                "type":"string",
                                "maxLength":20,
                                "minLength":1
                            },
                            "externalDocumentId":{
                                "type":"string",
                                "maxLength":255,
                                "minLength":1
                            },
                            "MetaData":{
                                "type":"object",
                                "additionalProperties":false,
                                "properties":{
                                    "addressedTo":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "agreementNumber":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "agreementNumberType":{
                                        "type":"string",
                                        "maxLength":20,
                                        "enum":[
                                            "Polis",
                                            "Lening",
                                            "Rekening",
                                            "Advies",
                                            "Factuur"
                                        ]
                                    },
                                    "birthDate":{
                                        "type":"string",
                                        "format":"date"
                                    },
                                    "businessUnit":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "claimNumber":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "contractNumber":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "contractNumberHolding":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "descriptionProductGroup":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "destructionDate":{
                                        "type":"string",
                                        "format":"date"
                                    },
                                    "documentDetail":{
                                        "type":"string",
                                        "maxLength":50
                                    },
                                    "documentRelationId":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "documentRouting":{
                                        "type":"string",
                                        "enum":[
                                            "In",
                                            "Out",
                                            "Internal"
                                        ]
                                    },
                                    "documentTitle":{
                                        "type":"string",
                                        "maxLength":255
                                    },
                                    "documentType":{
                                        "type":"string",
                                        "maxLength":50,
                                        "minLength":1
                                    },
                                    "IBAN":{
                                        "type":"string",
                                        "maxLength":34
                                    },
                                    "label":{
                                        "type":"string",
                                        "maxLength":20,
                                        "minLength":1,
                                        "enum":[
                                            "NN"
                                        ]
                                    },
                                    "language":{
                                        "type":"string",
                                        "maxLength":20,
                                        "minLength":0,
                                        "enum":[
                                            "",
                                            "Nederlands",
                                            "Engels",
                                            "Duits",
                                            "Frans"
                                        ]
                                    },
                                    "nameHolding":{
                                        "type":"string",
                                        "maxLength":120
                                    },
                                    "nameInsured":{
                                        "type":"string",
                                        "maxLength":120
                                    },
                                    "nameOrganisation":{
                                        "type":"string",
                                        "maxLength":120
                                    },
                                    "namePolicyHolder":{
                                        "type":"string",
                                        "maxLength":120
                                    },
                                    "organisationId":{
                                        "type":"string",
                                        "maxLength":60
                                    },
                                    "partnerGold":{
                                        "type":"string",
                                        "maxLength":10
                                    },
                                    "partnerIntermediary":{
                                        "type":"string",
                                        "maxLength":10
                                    },
                                    "partnerSilver":{
                                        "type":"string",
                                        "maxLength":10
                                    },
                                    "processId":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "productCode":{
                                        "type":"string",
                                        "maxLength":5
                                    },
                                    "quotationNumber":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "referenceDate":{
                                        "type":"string",
                                        "format":"date"
                                    },
                                    "requestNumber":{
                                        "type":"string",
                                        "maxLength":255
                                    },
                                    "requiredByLawId":{
                                        "type":"string",
                                        "maxLength":40
                                    },
                                    "retentionStartDate":{
                                        "type":"string",
                                        "format":"date"
                                    },
                                    "schemeNumber":{
                                        "type":"string",
                                        "maxLength":20
                                    },
                                    "securityClass":{
                                        "type":"string",
                                        "maxLength":255,
                                        "enum":[
                                            "Onbeveiligd",
                                            "Medisch"
                                        ]
                                    },
                                    "subject":{
                                        "type":"string",
                                        "maxLength":255
                                    },
                                    "VTA_ID":{
                                        "type":"string",
                                        "maxLength":5
                                    },
                                    "year":{
                                        "type":"string",
                                        "maxLength":4
                                    }
                                },
                                "required":[
                                    "documentRouting",
                                    "documentType",
                                    "label",
                                    "securityClass"
                                ]
                            },
                            "Remark":{
                                "type":"object",
                                "additionalProperties":false,
                                "properties":{
                                    "remarkText":{
                                        "type":"string",
                                        "maxLength":1024
                                    }
                                }
                            }
                        },
                        "required":[
                            "issuedDate",
                            "MetaData"
                        ]
                    },
                    "File":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "fileName":{
                                "type":"string",
                                "maxLength":255
                            }
                        },
                        "required":[
                            "fileName"
                        ]
                    }
                },
                "required":[
                    "requestUserId",
                    "schemaName",
                    "Document",
                    "File"
                ]
            },
            "GetDocumentAttributes_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "GetDocumentAttributes_Response":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "schemaName":{
                        "type":"string"
                    },
                    "internalDocumentId":{
                        "type":"string"
                    },
                    "externalDocumentId":{
                        "type":"string"
                    },
                    "documentTitle":{
                        "type":"string"
                    },
                    "language":{
                        "type":"string"
                    },
                    "fileName":{
                    },
                    "addressedTo":{
                    },
                    "annotation":{
                    },
                    "agreementNumber":{
                    },
                    "agreementNumberType":{
                    },
                    "archiveDate":{
                        "type":"string",
                        "format":"date-time"
                    },
                    "authorizedTo":{
                    },
                    "batchCode":{
                    },
                    "birthDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "BSN":{
                    },
                    "businessUnit":{
                    },
                    "claimNumber":{
                    },
                    "contractNumber":{
                    },
                    "contractNumberHolding":{
                    },
                    "descriptionProductGroup":{
                    },
                    "documentDetail":{
                    },
                    "documentRelationId":{
                    },
                    "documentRouting":{
                    },
                    "documentType":{
                    },
                    "IBAN":{
                    },
                    "idDocOriginal":{
                    },
                    "issuedDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "issuer":{
                    },
                    "label":{
                    },
                    "lastModifiedBy":{
                    },
                    "lastModifiedDate":{
                        "type":"string",
                        "format":"date-time"
                    },
                    "nameHolding":{
                    },
                    "nameInsured":{
                    },
                    "nameOrganisation":{
                    },
                    "namePolicyHolder":{
                    },
                    "organisationId":{
                    },
                    "partnerGold":{
                    },
                    "partnerIntermediary":{
                    },
                    "partnerSilver":{
                    },
                    "processId":{
                        "type":"string"
                    },
                    "productCode":{
                    },
                    "quotationNumber":{
                    },
                    "referenceDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "remarkText":{
                    },
                    "requestNumber":{
                    },
                    "requiredByLawId":{
                    },
                    "schemeNumber":{
                    },
                    "source":{
                    },
                    "sourceTransactionId":{
                    },
                    "securityClass":{
                    },
                    "subject":{
                    },
                    "VTA_ID":{
                    },
                    "year":{
                    }
                },
                "required":[
                    "schemaName",
                    "internalDocumentId"
                ]
            },
            "GetDocumentAttributes_Request":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "documentId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    },
                    "idType":{
                        "type":"string",
                        "enum":[
                            "internalId",
                            "externalId"
                        ]
                    }
                },
                "required":[
                    "documentId"
                ]
            },
            "UpdateDocument_Response":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "schemaName":{
                        "type":"string"
                    },
                    "internalDocumentId":{
                        "type":"string"
                    },
                    "externalDocumentId":{
                        "type":"string"
                    },
                    "documentTitle":{
                        "type":"string"
                    },
                    "language":{
                        "type":"string"
                    },
                    "fileName":{
                    },
                    "addressedTo":{
                    },
                    "annotation":{
                    },
                    "agreementNumber":{
                    },
                    "agreementNumberType":{
                    },
                    "archiveDate":{
                        "type":"string",
                        "format":"date-time"
                    },
                    "authorizedTo":{
                    },
                    "batchCode":{
                    },
                    "birthDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "BSN":{
                    },
                    "businessUnit":{
                    },
                    "claimNumber":{
                    },
                    "contractNumber":{
                    },
                    "contractNumberHolding":{
                    },
                    "descriptionProductGroup":{
                    },
                    "documentDetail":{
                    },
                    "documentRelationId":{
                    },
                    "documentRouting":{
                    },
                    "documentType":{
                    },
                    "IBAN":{
                    },
                    "idDocOriginal":{
                    },
                    "issuedDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "issuer":{
                    },
                    "label":{
                    },
                    "lastModifiedBy":{
                    },
                    "lastModifiedDate":{
                        "type":"string",
                        "format":"date-time"
                    },
                    "nameHolding":{
                    },
                    "nameInsured":{
                    },
                    "nameOrganisation":{
                    },
                    "namePolicyHolder":{
                    },
                    "organisationId":{
                    },
                    "partnerGold":{
                    },
                    "partnerIntermediary":{
                    },
                    "partnerSilver":{
                    },
                    "processId":{
                        "type":"string"
                    },
                    "productCode":{
                    },
                    "quotationNumber":{
                    },
                    "referenceDate":{
                        "type":"string",
                        "format":"date"
                    },
                    "remarkText":{
                    },
                    "requestNumber":{
                    },
                    "requiredByLawId":{
                    },
                    "schemeNumber":{
                    },
                    "source":{
                    },
                    "sourceTransactionId":{
                    },
                    "securityClass":{
                    },
                    "subject":{
                    },
                    "VTA_ID":{
                    },
                    "year":{
                    }
                },
                "required":[
                    "schemaName",
                    "internalDocumentId"
                ]
            },
            "UpdateDocument_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "UpdateDocument_Action":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "documentId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    },
                    "idType":{
                        "type":"string",
                        "enum":[
                            "internalId",
                            "externalId"
                        ]
                    },
                    "requestUserId":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "MetaData":{
                        "type":"object",
                        "additionalProperties":false,
                        "properties":{
                            "authorizedTo":{
                                "type":"string",
                                "maxLength":10
                            },
                            "contractNumber":{
                                "type":"string",
                                "maxLength":20
                            },
                            "partnerSilver":{
                                "type":"string",
                                "maxLength":10
                            }
                        }
                    }
                },
                "required":[
                    "documentId",
                    "requestUserId",
                    "MetaData"
                ]
            },
            "StageDocumentForCollection_Response":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "links":{
                        "$ref":"#/components/schemas/links"
                    }
                }
            },
            "StageDocumentForCollection_Action":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "documentId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    },
                    "idType":{
                        "type":"string",
                        "enum":[
                            "internalId",
                            "externalId"
                        ]
                    },
                    "requestUserId":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "sourceTransactionId":{
                        "type":"string",
                        "maxLength":40,
                        "minLength":1
                    }
                },
                "required":[
                    "documentId",
                    "requestUserId"
                ]
            },
            "StageDocumentForCollection_Error":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "errors":{
                        "$ref":"#/components/schemas/errors"
                    }
                },
                "required":[
                    "errors"
                ]
            },
            "RetrieveStagedDocument_Error":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "errors":{
                        "$ref":"#/components/schemas/errors"
                    }
                },
                "required":[
                    "errors"
                ]
            },
            "RetrieveStagedDocument_Request":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "requestUserId":{
                        "type":"string",
                        "maxLength":20,
                        "minLength":1
                    },
                    "referenceId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    }
                },
                "required":[
                    "requestUserId",
                    "referenceId"
                ]
            }
        }
    }
}