
{
    "openapi":"3.0.0",
    "info":{
        "title":"Ibis4Titan",
        "description":"OpenApi auto-generated at 2023-02-15 11:45:25 for Ibis4Titan (TST)",
        "version":"unknown"
    },
    "servers":[
        {
            "url":"https://srtzzapp0494.insim.biz/ibis4titan/api"
        }
    ],
    "paths":{
        "/archiving/attachments/{documentId}":{
            "get":{
                "summary":"REST adapter for getting a document in the NN archive with the internal- or external document id and stream back the document",
                "parameters":[
                    {
                        "name":"documentId",
                        "in":"path",
                        "required":true,
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"documentId",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    },
                    {
                        "name":"idType",
                        "in":"query",
                        "schema":{
                            "type":"string"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "304":{
                        "description":"Not Modified",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "400":{
                        "description":"Bad Request",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "401":{
                        "description":"Unauthorized"
                    },
                    "403":{
                        "description":"Forbidden"
                    },
                    "412":{
                        "description":"Precondition Failed",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "500":{
                        "description":"Internal Server Error",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    },
                    "504":{
                        "description":"Gateway Timeout",
                        "content":{
                            "*/*":{
                                "schema":{
                                    "$ref":"#/components/schemas/GetDocument_Request"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components":{
        "schemas":{
            "GetDocument_Request":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "documentId":{
                        "type":"string",
                        "maxLength":255,
                        "minLength":1
                    },
                    "idType":{
                        "type":"string",
                        "enum":[
                            "internalId",
                            "externalId"
                        ]
                    }
                },
                "required":[
                    "documentId"
                ]
            },
            "GetDocument_Error":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/errors"
                }
            },
            "link":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "href":{
                        "type":"string"
                    },
                    "rel":{
                        "type":"string"
                    },
                    "type":{
                        "type":"string"
                    },
                    "title":{
                        "type":"string"
                    }
                },
                "required":[
                    "href",
                    "rel",
                    "type"
                ]
            },
            "error":{
                "type":"object",
                "additionalProperties":false,
                "properties":{
                    "type":{
                        "type":"string"
                    },
                    "title":{
                        "type":"string"
                    },
                    "status":{
                        "type":"string"
                    },
                    "detail":{
                        "type":"string"
                    },
                    "instance":{
                        "type":"string"
                    }
                },
                "required":[
                    "type",
                    "title",
                    "status",
                    "instance"
                ]
            },
            "links":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/link"
                }
            },
            "errors":{
                "type":"array",
                "items":{
                    "$ref":"#/components/schemas/error"
                }
            }
        }
    }
}